@font-face {
    font-family: 'regular';
    src: url('../Font/peyda-regular.ttf');
}

@font-face{
	font-family: 'bold';
    src: url('../Font/peyda-bold.ttf');
}

body {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
  margin: 0;
}
.left-side{
	width: 1084px;
	height:1084 px;
	background: url('../img/img1.jpg') center center/cover no-repeat;
	
}

.right-side{
	width : 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.subtitle{
	font-size:18px;
	font-family:regular;
	margin-bottom:50px;
	
}
.formdiv{
	font-size:16px;
	width:100%;
	height:304px;
	font-family:bold;
	display: flex;
	justify-content: center;
}
.img2{
	width:303px;
	height:242px;
	
}

.imgdiv{
	width:100%;
	height:242px;
	display: flex;
	justify-content: center;
}
.input{
	width:354px;
	height:48px;
	border-radius:12px;
	background-color:#F7F8FA;
	border:0px;
	font-family:regular;
	font-size:13px;
	
}

.btn{
	width:354px;
	height:48px;
	border-radius:12px;
	background-color:#234C6A;
	color:white;
	font-family:bold;
}
.myform{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userandpassdiv{
	display:flex;
	flex-direction: column;
	
}